body{
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
}

.flexwrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
    
    }

h1{
    text-align: center;
    font-family: 'Open Sans';
    font-size: 70pt;
    color:white;
    padding-top: 9%;
    


}
h2{
color: #3a3b3b;
margin-left: 9%;
font-size: 50pt;
font-family: 'Open Sans';

}

h3{
    color: black;
margin-left: 10%;
font-family: 'Open Sans';
    font-size: 18pt;
    
    }

h4{
    color: white;
    margin-left: 10%;
    font-family: 'Open Sans';
        font-size: 18pt;
    
}

h5{
    color: black;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 50pt;
    margin: 0: auto;
    opacity: 50%;
}

.header{
width: 100%;
height: 60%;
background-color: #3a3b3b;
background-size: contain;
background-image: url();
background-repeat: no-repeat;


}



.block1 { margin:0 auto; 
    width: 60%;
    height: 100%;
    background-color: #F7F7F7;
}

.image{
width: 40%;
height: 100%;
background-color:#3a3b3b;
background-size: cover;
opacity: 35%;


}

.content{width: 90%;;


}

.whitespace{
width: 100%;
background-color: white;
height: 60%;
}

